<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="db.properties"/>

    <typeAliases>
        <typeAlias type="com.kaitan.pojo.User" alias="User"/>
    </typeAliases>

<!--    <typeAliases>-->
<!--        <package name="com.kaitan.pojo"/>-->
<!--    </typeAliases>-->

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/kaitan/dao/UserMapper.xml"></mapper>
<!--        <mapper class="com.UserMapper"></mapper>-->
<!--        <package name="com.kaitan.dao"></package>-->
    </mappers>
</configuration>